<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<!-- <app-create-observable></app-create-observable> -->
<!-- <app-create-subject></app-create-subject> -->
<!-- <app-create-behaviour-subject></app-create-behaviour-subject> -->
<!-- <app-create-replay-subject></app-create-replay-subject> -->

<!-- from here the operators will start -->

<!-- <app-take-interval></app-take-interval> -->
<!-- <app-map></app-map> -->
<!-- <app-filter></app-filter> -->
<!-- <app-merge-map></app-merge-map> -->
<!-- <app-switch-map></app-switch-map> -->

<!-- from here click, debounce and api will start -->
<!-- <app-click-event></app-click-event> -->
<!-- <app-debounce-search></app-debounce-search> -->
<app-api></app-api>
